body {
  background-color: #F4F9F4;
  color: #616161;
}
.App {
  display: flex;
  justify-content: space-around;
}
ul, li {
  list-style: none;
  margin: 3px;
  padding: 0px;
}
input {
  margin-top: 30px;
  width: 300px;
  height: 200px;
  text-align: center;
  font-size: 25;
}
.cont {
  display: flex;
  justify-content: center;
}
input::placeholder {
  text-align: center;
}

span {
  color: #8AAE92;
}